<div class="container-fluid">
  <div class="row">
    <div *ngFor="let product of productList" class="card col-md-3 col-sm-5 col-11">
      <div *ngIf="product != null">
        <div>
          <img class="card-img-top" src="{{product.image}}" alt="Card image cap" width="100" height="150">
          <div class="card-body">
            <div>
              <h5 class="card-title" style="display: inline; margin-right: 15%;">{{product.name}}</h5>
              <h5 class="card-title text-right" style="display: inline;">{{product.price}} Bs.</h5>
            </div>
            <h6 class="card-text">{{product.typeUnity}} - {{product.quantity}}</h6>
            <p class="card-text">{{product.description}}</p>
          </div>
          <div class="card-body text-right">
            <app-card-modal [productId]="product._id" (click)="addProduct(product)"></app-card-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>